# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
build
pb_data_dev
pb_data_prod
auxiliary.db
auxiliary.db-shm
auxiliary.db-wal
data.db
data.db-shm
data.db-wal
.DS_Store
types.d.ts
