services:
  app:
    image: ghcr.io/geldofa/thooft_omni:latest
    ports:
      - "8080:80"
    environment:
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    depends_on:
      - db
    restart: unless-stopped
    container_name: thooft_omni

  db:
    image: alpine:latest
    ports:
      - "8090:8090"
    volumes:
      - ./pb_data:/pb/pb_data
      - ./pb_migrations:/pb/pb_migrations:ro
    environment:
      - POCKETBASE_ADMIN_EMAIL=${ADMIN_EMAIL}
      - POCKETBASE_ADMIN_PASSWORD=${ADMIN_PASSWORD}
    restart: unless-stopped
    container_name: thooft_db
    command: >
      sh -c '
        apk add --no-cache curl unzip ca-certificates &&
        curl -L https://github.com/pocketbase/pocketbase/releases/download/v0.23.12/pocketbase_0.23.12_linux_amd64.zip -o /tmp/pb.zip &&
        unzip -o /tmp/pb.zip -d /pb/ &&
        /pb/pocketbase superuser upsert "$${POCKETBASE_ADMIN_EMAIL}" "$${POCKETBASE_ADMIN_PASSWORD}" &&
        chown -R root:root /pb/pb_data &&
        chmod -R 755 /pb/pb_data &&
        /pb/pocketbase serve --http=0.0.0.0:8090 --dir=/pb/pb_data --migrationsDir=/pb/pb_migrations
      '
