services:
  app:
    build:
      context: ./Core
    ports:
      - "8080:80"
    depends_on:
      - db
    restart: unless-stopped
    container_name: thooft_omni

  db:
    image: alpine:latest
    ports:
      - "8090:8090"
    volumes:
      - ./pb_data:/pb/pb_data
      - ./pb_migrations:/pb/pb_migrations
    restart: unless-stopped
    container_name: thooft_db
    command: >
      sh -c "
        apk add --no-cache curl unzip ca-certificates &&
        curl -L https://github.com/pocketbase/pocketbase/releases/download/v0.23.12/pocketbase_0.23.12_linux_amd64.zip -o /tmp/pb.zip &&
        unzip -o /tmp/pb.zip -d /pb/ &&
        /pb/pocketbase serve --http=0.0.0.0:8090 --dir=/pb/pb_data --migrationsDir=/pb/pb_migrations
      "
